/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

main {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b, strong {
    font-weight: bolder
}

code, kbd, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button, input {
    overflow: visible
}

button, select {
    text-transform: none
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox], [type=radio] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details {
    display: block
}

summary {
    display: list-item
}

[hidden], template {
    display: none
}

:root {
    --color-text-main: #313649;
    --color-text-second: #5d6068;
    --color-line-gray: #e8e8eb;
    --color-link-active: #2071cc;
    --color-button-danger: #ff5159;
    --color-bg-light: #f8f7fa;
    --color-page-active: #ff1767;
    --layout-padding-horisontal: 30px;
    --layout-padding-vertical: 30px;
    --layout-width-aside: 300px;
    --layout-width-main-col: 650px
}

@media (max-width:980px) {
    :root {
        --layout-padding-horisontal: 15px;
        --layout-padding-vertical: 15px
    }
}

:root {
    --font-mono: Menlo, Monaco, Consolas, Courier New, monospace
}

.docs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 30px;
    padding: 0 var(--layout-padding-horisontal)
}

@media (max-width:980px) {
    .docs {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
}

.docs__aside {
    width: 300px;
    width: var(--layout-width-aside)
}

@media (max-width:980px) {
    .docs__aside {
        width: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        padding: 20px 30px!important;
        padding: 20px var(--layout-padding-horisontal)!important;
        margin: 0 -30px;
        margin: 0 calc(-1*var(--layout-padding-horisontal));
        border-bottom: 1px solid #e8e8eb;
        border-bottom: 1px solid var(--color-line-gray)
    }
}

.docs__content {
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    word-wrap: break-word
}

@media (max-width:980px) {
    .docs__content {
        width: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%
    }
}

.docs__content-inner {
    max-width: 650px;
    max-width: var(--layout-width-main-col);
    margin: 0 auto
}

.docs__aside, .docs__content {
    padding: 30px 0;
    padding: var(--layout-padding-vertical) 0
}

@media (max-width:980px) {
    .docs__aside, .docs__content {
        padding: 20px 0
    }
}

.docs-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 0 30px;
    padding: 0 var(--layout-padding-horisontal);
    border-bottom: 1px solid #e8e8eb;
    border-bottom: 1px solid var(--color-line-gray);
    font-size: 15.8px;
    line-height: 50px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative
}

@media (max-width:980px) {
    .docs-header {
        line-height: 40px
    }
}

.docs-header a {
    display: inline-block;
    text-decoration: none
}

.docs-header__logo {
    font-weight: 700;
    color: inherit
}

.docs-header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 0 auto;
    padding-left: 0
}

@media (max-width:980px) {
    .docs-header__menu {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        font-size: 12px
    }
}

.docs-header__menu li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    list-style: none;
    margin-left: 20px
}

@media (max-width:980px) {
    .docs-header__menu li {
        margin-left: 0;
        margin-right: 15px
    }
}

@media (max-width:980px) {
    .docs-header__menu-add {
        position: absolute;
        right: 15px;
        top: 15px;
        line-height: 1em;
        margin: 0!important
    }
}

@media (max-width:980px) {
    .docs-header__menu-add a {
        font-size: 0;
        padding: 8px;
        margin-right: 0
    }
}

.docs-header__menu a:not(.docs-header__button) {
    color: inherit
}

.docs-header__menu a:not(.docs-header__button):hover {
    color: #2071cc;
    color: var(--color-link-active)
}

.docs-header__button {
    display: inline-block;
    padding: 9px 15px;
    border-radius: 3px;
    color: #6c6375;
    background: #fcfcff;
    -webkit-box-shadow: inset 0 0 0 1px rgba(184, 189, 206, .2);
    box-shadow: inset 0 0 0 1px rgba(184, 189, 206, .2);
    font-size: 14px;
    line-height: 1em;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    -webkit-appearance: none;
    border: 0;
    background: #2071cc;
    background: var(--color-link-active);
    color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none
}

.docs-header__button svg {
    margin: 0 .3em 0 -.05em
}

.docs-header__button:hover {
    background: #2065b3
}

.docs-header__button {
    margin: auto 30px auto auto
}

.docs-aside {
    font-size: 14px;
    letter-spacing: .01em
}

@media (max-width:980px) {
    .docs-aside {
        position: static;
        overflow: visible;
        max-height: none;
        font-size: 13px;
        display: none;
        margin-top: 20px
    }
}

.docs-aside--toggled {
    display: block!important
}

.docs-aside a {
    color: inherit;
    text-decoration: none
}

.docs-aside a:hover {
    color: #2071cc;
    color: var(--color-link-active)
}

.docs-aside__section {
    margin-bottom: 30px
}

@media (max-width:980px) {
    .docs-aside__section {
        margin-bottom: 20px
    }
}

.docs-aside__section:last-of-type {
    margin-bottom: 0
}

.docs-aside__section-title {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 1.18em;
    font-weight: 600
}

@media (max-width:980px) {
    .docs-aside__section-title {
        margin-bottom: 10px
    }
}

.docs-aside__section-list {
    padding-left: 0;
    margin: 0;
    list-style: none
}

.docs-aside__section-list a {
    display: inline-block;
    color: inherit;
    padding: 8px 0
}

.docs-aside__current {
    color: #ff1767!important;
    color: var(--color-page-active)!important
}

.docs-aside-toggler {
    display: none;
    font-size: 13px;
    cursor: pointer;
    color: #5d6068;
    color: var(--color-text-second)
}

@media (max-width:980px) {
    .docs-aside-toggler {
        display: block
    }
}

.docs-aside-toggler svg {
    margin-right: 10px
}

.writing-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 15px 0;
    margin-top: -30px;
    margin-top: calc(-1*var(--layout-padding-vertical));
    background: #fff;
    -webkit-box-shadow: 0 3px 10px #fff;
    box-shadow: 0 3px 10px #fff;
    z-index: 2;
    font-size: 14px
}

.writing-header__save {
    display: inline-block;
    padding: 9px 15px;
    border-radius: 3px;
    color: #6c6375;
    background: #fcfcff;
    -webkit-box-shadow: inset 0 0 0 1px rgba(184, 189, 206, .2);
    box-shadow: inset 0 0 0 1px rgba(184, 189, 206, .2);
    font-size: 14px;
    line-height: 1em;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    -webkit-appearance: none;
    border: 0;
    background: #2071cc;
    background: var(--color-link-active);
    color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none
}

.writing-header__save svg {
    margin: 0 .3em 0 -.05em
}

.writing-header__save:hover {
    background: #2065b3
}

.writing-header__save {
    margin: auto
}

.writing-header__left {
    margin: auto 0;
    color: #5d6068;
    color: var(--color-text-second)
}

.writing-header__left span {
    margin-right: 10px
}

.writing-header select {
    max-width: 100px;
    vertical-align: bottom
}

.writing-buttons__remove {
    display: inline-block;
    padding: 9px 15px;
    border-radius: 3px;
    color: #6c6375;
    background: #fcfcff;
    -webkit-box-shadow: inset 0 0 0 1px rgba(184, 189, 206, .2);
    box-shadow: inset 0 0 0 1px rgba(184, 189, 206, .2);
    font-size: 14px;
    line-height: 1em;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    -webkit-appearance: none;
    border: 0;
    background: #ff5159;
    background: var(--color-button-danger);
    color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none
}

.writing-buttons__remove svg {
    margin: 0 .3em 0 -.05em
}

.writing-buttons__remove:hover {
    background: #e65158
}

.uri-input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 12px;
    border-radius: 3px;
    border: 1px solid rgba(201, 201, 204, .48);
    -webkit-box-shadow: inset 0 1px 2px 0 rgba(35, 44, 72, .06);
    box-shadow: inset 0 1px 2px 0 rgba(35, 44, 72, .06);
    outline: none
}

.writing-editor {
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: .005em
}

@media (min-width:1050px) {
    .writing-editor {
        margin: 0 -100px
    }
}

.writing-editor .ce-code__textarea {
    color: #41314e;
    line-height: 1.6em;
    font-size: 12px;
    background: #f8f7fa;
    background: var(--color-bg-light);
    border: 1px solid #f1f1f4;
    -webkit-box-shadow: none;
    box-shadow: none
}

.writing-editor .ce-paragraph a {
    color: inherit
}

.writing-editor .ce-header {
    font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, Geneva, Arial, sans-serif;
    letter-spacing: -.03em
}

.codex-editor__redactor .ce-block:first-of-type .ce-header {
    font-size: 32px
}

.page {
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: .005em
}

.page__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #5d6068;
    color: var(--color-text-second)
}

@media (max-width:980px) {
    .page__header {
        font-size: 13px
    }
}

.page__header-nav {
    color: inherit;
    text-decoration: none
}

@media (max-width:980px) {
    .page__header-nav {
        display: none
    }
}

.page__header-nav:hover {
    color: #2071cc;
    color: var(--color-link-active)
}

.page__header-nav:not(:last-of-type):after {
    content: "\BB";
    margin: 0 .7em 0 .45em
}

.page__header-time {
    margin-left: auto
}

@media (max-width:980px) {
    .page__header-time {
        margin-left: 0
    }
}

.page__header-button {
    display: inline-block;
    padding: 9px 15px;
    border-radius: 3px;
    color: #6c6375;
    background: #fcfcff;
    -webkit-box-shadow: inset 0 0 0 1px rgba(184, 189, 206, .2);
    box-shadow: inset 0 0 0 1px rgba(184, 189, 206, .2);
    font-size: 14px;
    line-height: 1em;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    -webkit-appearance: none;
    border: 0;
    background: #2071cc;
    background: var(--color-link-active);
    color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none
}

.page__header-button svg {
    margin: 0 .3em 0 -.05em
}

.page__header-button:hover {
    background: #2065b3
}

.page__header-button {
    padding: 5px 10px;
    font-size: 13px;
    margin-left: 10px
}

.page__title {
    font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, Geneva, Arial, sans-serif;
    letter-spacing: -.03em;
    font-size: 35px;
    font-weight: 900;
    letter-spacing: -.04em;
    margin-bottom: -.1em
}

.page .cdx-marker {
    background: rgba(245, 235, 111, .33);
    padding: 3px 0
}

.page .block-header a .inline-code, .page .inline-code {
    display: inline-block;
    background: rgba(251, 241, 241, .78);
    color: #c44545;
    padding: .1em .5em;
    border-radius: 2px;
    margin: 0 2px;
    font-family: Menlo, Monaco, Consolas, Courier New, monospace;
    font-size: .84em;
    line-height: 1.4em;
    border-bottom: 0
}

.page .block-header a .inline-code:hover, .page .inline-code:hover {
    background: rgba(251, 241, 241, .78)
}

.page__content a {
    text-decoration: none;
    border-bottom: 1px solid #000;
    padding-bottom: 1px;
    color: inherit
}

.page__content a:hover {
    color: #2071cc;
    color: var(--color-link-active);
    border-bottom-color: #2071cc;
    border-bottom-color: var(--color-link-active)
}

.page__content a .inline-code {
    margin: 0;
    padding: .15em .5em;
    border-bottom: 1px dashed rgba(84, 151, 255, .99);
    color: #1f6fd8;
    background-color: #daf1fe
}

.page__content a .inline-code:hover {
    background-color: #c8edfe
}

.block-paragraph .inline-code {
    -webkit-font-smoothing: initial;
    -moz-osx-font-smoothing: initial
}

.block-header {
    font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, Geneva, Arial, sans-serif;
    letter-spacing: -.03em;
    margin: 2.1em 0 .5em
}

.block-header--2 {
    font-size: 22px;
    font-weight: 600
}

.block-header--3 {
    font-size: 18px;
    font-weight: 600
}

.block-header+p {
    margin-top: .5em
}

.block-header a {
    text-decoration: none!important;
    border: 0;
    color: inherit!important
}

.block-header--anchor {
    cursor: pointer
}

.block-header--anchor:before {
    position: absolute;
    content: "";
    margin-left: -30px;
    width: 14px;
    height: 19px;
    margin-top: .35em;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='14' height='19' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%237B7E89'%3E%3Cpath d='M8.58 11.997L2.283 5.701a1.762 1.762 0 0 1 0-2.49l.933-.935a1.762 1.762 0 0 1 2.49 0l6.298 6.297a3.508 3.508 0 0 0-.901-3.39L6.952 1.031a3.522 3.522 0 0 0-4.982 0l-.933.933a3.522 3.522 0 0 0 0 4.982l4.151 4.151c.92.92 2.218 1.208 3.392.9z'/%3E%3Cpath d='M12.958 11.628l-4.151-4.15a3.507 3.507 0 0 0-3.391-.899l6.296 6.296a1.76 1.76 0 0 1 0 2.49l-.933.936a1.764 1.764 0 0 1-2.49 0l-6.296-6.298a3.507 3.507 0 0 0 .899 3.39l4.151 4.15a3.522 3.522 0 0 0 4.982 0l.933-.935a3.52 3.52 0 0 0 0-4.98z'/%3E%3C/g%3E%3C/svg%3E");
    opacity: 0;
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
    will-change: opacity, transform;
    -webkit-transition: all .1s ease;
    transition: all .1s ease
}

@media (max-width:980px) {
    .block-header--anchor:before {
        display: none!important
    }
}

.block-header--anchor:hover {
    color: #4c4c58
}

.block-header--anchor:hover:before {
    opacity: 1;
    -webkit-transform: none;
    transform: none
}

.block-header .inline-code {
    line-height: inherit
}

.block-code {
    background: #f8f7fa;
    background: var(--color-bg-light);
    border: 1px solid #f1f1f4;
    border-radius: 5px;
    font-family: Menlo, Monaco, Consolas, Courier New, monospace;
    font-family: var(--font-mono);
    line-height: 1.7em;
    font-size: 13px;
    overflow-x: auto;
    margin: 15px 0
}

.block-code__content {
    display: inline-block!important;
    white-space: pre;
    word-wrap: normal;
    background: transparent!important;
    padding: 15px!important;
    color: #41314e!important;
    min-width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.block-code__content .diff {
    margin: 0 -15px;
    padding-left: 15px;
    padding-right: 15px
}

.block-code .hljs-name, .block-code .hljs-section {
    color: #359f3f
}

.block-code .hljs-tag {
    color: #718c77
}

.block-code .hljs-attr, .block-code .hljs-selector-attr, .block-code .hljs-selector-class, .block-code .hljs-selector-id, .block-code .hljs-selector-pseudo, .block-code .hljs-title {
    color: #904eb3
}

.block-code .hljs-emphasis, .block-code .hljs-quote, .block-code .hljs-string, .block-code .hljs-strong, .block-code .hljs-template-variable, .block-code .hljs-variable {
    color: #c21f04
}

.block-list {
    margin: 20px 0
}

.block-list li {
    margin: 10px 0
}

.block-image {
    margin: 40px auto;
    text-align: center
}

.block-image__content img, .block-image__content video {
    vertical-align: bottom;
    max-width: 100%
}

.block-image__content--stretched {
    max-width: none!important;
    width: calc(100% + 120px)!important;
    margin-left: -60px
}

.block-image__content--stretched img, .block-image__content--stretched video {
    width: 100%
}

.block-image__content--bordered img, .block-image__content--bordered video {
    border: 3px solid #e8e8eb;
    border: 3px solid var(--color-line-gray);
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.block-image__content--with-background {
    padding: 15px;
    background: #f8f7fa;
    background: var(--color-bg-light)
}

.block-image__content--with-background img, .block-image__content--with-background video {
    max-width: 60%;
    margin: 0 auto
}

.block-image__caption {
    margin: 1em auto;
    color: #5d6068;
    color: var(--color-text-second)
}

.block-delimiter {
    line-height: 1.6em;
    width: 100%;
    text-align: center
}

.block-delimiter:before {
    display: inline-block;
    content: "***";
    font-size: 30px;
    line-height: 65px;
    height: 30px;
    letter-spacing: .2em
}

.block-table {
    margin: 20px 0;
    table-layout: fixed;
    width: 100%;
    border-radius: 3px;
    border-collapse: collapse
}

.block-table, .block-table td {
    border: 1px solid #e8e8eb;
    border: 1px solid var(--color-line-gray)
}

.block-table td {
    padding: 8px 10px
}

.block-warning {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;
    margin: 30px 0;
    border-radius: 7px;
    background: #fff9ef;
    color: #392e2f
}

.block-warning__icon {
    margin-right: 15px
}

.block-warning__title {
    font-weight: 700
}

.block-warning__message {
    padding-left: 15px
}

.landing-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100%
}

.landing-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: -1;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.landing-loader>svg {
    width: 80px;
    height: 80px
}

.landing-frame {
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;
    will-change: opacity
}

.auth-form {
    font-size: 15px;
    text-align: center;
    margin-top: 30vh
}

@media (max-width:980px) {
    .auth-form h1 {
        font-size: 20px
    }
}

.auth-form p {
    margin: 40px 0 20px
}

.auth-form input[type=password] {
    padding: 9px;
    font-size: 15px;
    outline: none;
    border-radius: 3px;
    -webkit-appearance: none;
    border: 1px solid #e8e8eb;
    border: 1px solid var(--color-line-gray)
}

.auth-form input[type=submit] {
    display: inline-block;
    padding: 9px 15px;
    border-radius: 3px;
    color: #6c6375;
    background: #fcfcff;
    -webkit-box-shadow: inset 0 0 0 1px rgba(184, 189, 206, .2);
    box-shadow: inset 0 0 0 1px rgba(184, 189, 206, .2);
    font-size: 14px;
    line-height: 1em;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    -webkit-appearance: none;
    border: 0;
    background: #2071cc;
    background: var(--color-link-active);
    color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none
}

.auth-form input[type=submit] svg {
    margin: 0 .3em 0 -.05em
}

.auth-form input[type=submit]:hover {
    background: #2065b3
}

.auth-form input[type=submit] {
    font-size: 15px;
    padding: 10px 20px;
    line-height: inherit;
    vertical-align: top
}

body {
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Helvetica, Arial, Verdana;
    color: #313649;
    color: var(--color-text-main);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

svg {
    fill: currentColor
}
